title{
	text-align: center;
	font-family: "ff-enzo-web";
}

body{
	margin: 0;
	background-color: #FFFDE8;
	}

h2,
h4 {
	text-align: center;
	font-family: "ff-enzo-web";
}

.flocup {
	background-color: #000
	font-family: "ff-enzo-web";

}


.cup {
	font-family: "ff-enzo-web";
	line-height: 1.7em;
	margin: 4em;
	padding-left: 4em;
}
	

.pen {
	line-height: 1.7em;
	margin: 4em;
	padding-left: 4em;
	font-family: Helvetica, sans-serif;

}

h1{ font-weight: bold;
	text-align: center;
	font-family: "museo-slab";
}

BLOCKQUOTE {
	font-family: "museo-slab";
	font-size: 1.5em;
	border-left: 5px solid #000;
	margin: 2em ;
	padding 0 0 0 1em;
	line-height:1em;

}

.selfie {
	background-color: white;
	text-align: center;
} 


.gift {
	background-color: white;
	text-align: center;
}

.documentedcup {
background-color: #FFFDE8;


}

.menu{
	background-color: #FFFDE8;
	text-align: center;



}


.project {

	width: 20%;
	display: inline-block;
	padding: 5% 0;
	margin: 1em;
	height: 125px;
	vertical-align: top;
	background-color: #395A53;

	
}

.project a {
	opacity: 0;

}

.project:hover {
	background-color: #3C6B61;
	
}

.project:hover a {
	opacity: 1;
	font-size: 150%;
	font-family: "ff-enzo-web";
	font-style: white;

}
