title{
	text-align: center;
	font-family: "ff-enzo-web";
}

body{
	margin: 0;
	background-color: #FFFDE8;
	}

.logo {
	display:block;
	text-align: center;
	z-index:200;
	position:relative;
}

.logo:hover {
	z-index:500;
}

.logo:hover .pug {
	display:block;
}

.logo .pug {
	display:none;
}

.logo:hover .pug {
	display: block;
	z-index:300;
}

.pugless {
	margin-left:auto;
	margin-right:auto;
}

.pugless .pug {
	position:absolute;
	top:5px;
	left:683px;
}

h2,
h4 {
	text-align: center;
	font-family: "ff-enzo-web";
}

.synopsis{
	font-family: "ff-enzo-web"
	line-height: 1.7em;
	margin: 4em;
	padding-left: 4em;
	padding-right: 4em;
} 

.redamelie {
	background-color: #FFFDE8;
}

.redamelie img {
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}


.cup {
	font-family: "ff-enzo-web";
	line-height: 1.7em;
	margin: 4em;
	padding-left: 4em;

}
	

.pen {
	line-height: 1.7em;
	margin: 4em;
	padding-left: 4em;
	font-family: Helvetica, sans-serif;

}

h1{ font-weight: bold;
	text-align: center;
	font-family: "museo-slab";
}

BLOCKQUOTE {
	font-family: "museo-slab";
	font-size: 1.5em;
	border-left: 5px solid #000;
	margin: 2em ;
	padding 0 0 0 1em;
	line-height:1em;

}

.selfie {
	background-color: #FFFDE8;
	text-align: center;
} 


.gift {
	background-color: white;
	text-align: center;
}

.documentedcup {
background-color: #FFFDE8;
padding: 4em;
text-align: center;


}

.menu{
	background-color: #FFFDE8;
	text-align: center;
	position: relative;
}


.project {
	width: 20%;
	display: inline-block;
	padding: 5% 0;
	margin: 1em;
	height: 125px;
	vertical-align: top;
	background-color: #000000;
	transition: background-color 0.2s;
	
}

.project a {
	opacity: 0;
	text-decoration: none;
	color: #000;


}

.project:hover {
	background-color: #FFFDE8;
	
}

.project:hover a {
	opacity: 1;
	font-size: 150%;
	font-family: "ff-enzo-web";
	font-style: white;
	

}

.mindfullness {
 text-align: center;

}

.vipassana {
margin-left: 2em

}

