title{
	text-align: center;
}

body{
	background-color: white; 
	}

h4 {
	color: black;
	text-align: center;
	font-family:                    
}

.selfie {
	background-color: white;
} 


.gift {
	background-color: white;
}